.story-info-container {
  text-align: center;
  padding-bottom: 40px;
}

.story-info-container > h2 {
  margin-top: 10px;
}

.story-info-container > h4 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.story-info-container > h5 {
  margin-bottom: 30px;
}

.heatmap-container {
  margin-top: 20px;
  width: 50%;
  text-align: start;
  margin-left: 25%;
}

.heatmap-container > h4 {
  text-align: center;
}

.storyInfo-buttons {
  text-align: start;
  margin: 10px;
}

.heatmap {
  font-size: 11px;
  border: 3px solid black;
  padding: 10px; 
}

.heat-paragraph > p{
  margin: 0px;
}

