.story-list {
  background-image: url('../../images/library.jpeg');
}


.story-list > h1 {
  text-align: center;
  color: white;
}

.story-container {
  display: flex;
  border: solid 1px black;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 11px;
  padding: 10px;
  border-radius: 7px;
  background-color: white;
}

.story-text {
  margin-left: 10px;
}

.story-text > p {
  margin-bottom: 0px;
}

.posted {
  font-size: 12px;
}
