.story-list {
  text-align: center;
}

div.img {
  background-image: url("../src/images/typewriter.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 93vh;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text > span {
  font-size: 100px;
}

.hero-text > p {
  font-size: 33px;
}

.hero-text > img {
  margin-top: 9px;
}